<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="style.css">
</head>
<title>Demographic Data</title>
<body>
    <div class="item" style="position:fixed; left:20px ; top:30px ;z-index:10;">
        <button class="btn"onclick="goBack()">Back</button>
    </div> 
    <div class="container col-lg-10">
    <div class="row max-height-vh-100">
        <div class="col-lg-8 z-index-2" >
        <h1>Demographic Analysis</h1>
        <p> Now people might be curious about what sort of city they live in terms of certain factors like
            Age, Distribution of income, Household Composition, etc. Here we have  crossfiltering charts 
            allowing you to access all the relevant data at once. The visualisation aims to present the 
            demographic information to local citizens, potential investors or someone looking to move 
            into the “City of Melbourne” region. visualisation allows users to interact with it through 
            tooltip, clicking on the graph to deep dive and highlighting critical information for the 
            pre-attentive visual elements.
            </p>
            
        </div>
    </div>
    <div class="row">
        <div class="card w-50">
            <div class="card-body">
        <div class="col-md-6 yearbar" id="id_genderPie"><h5 class="card-title"><span id="title">City of Melbourne Population Statistics</span></h5></div></div></div>
        <div id="pieTooltip" class="infoTT">
            Suburb: <span id="suburb"></span></br>
            Total Population: <span id="population"></span></br>
            Male: <span id="male"></span></br>
            Female: <span id="female"></span></br>
            Click on the slice to update the bar chart and know more</br>
        </div>
        <div class="card w-50">
            <div class="card-body">
        <div class="col-md-6 racebar" id="id_ageGroup"><h5 class="card-title"><span id="title">Population Age Distribution</span></h5></div></div></div>
    </div>
        <div class="row">
            <div class="card w-50">
            <div class="card-body">
            <div class="col-md-6 yearbar" id="id_eduGroup"> <h5 class="card-title"><span id="title">Population Education Level</span></h5></div></div></div>
            <div class="card w-50">
                <div class="card-body">
            <div class="col-md-6 racebar" id="id_hhGroup"><h5 class="card-title"><span id="title">Population Household Composition</span></h5></div></div></div>
        </div>
        <div class="row">
            <div class="card w-50">
                <div class="card-body">
            <div class="col-md-6 yearbar" id="id_incomeGroup"><h5 class="card-title"><span id="title">Population Income Distribution</span></h5></div></div></div>
            <div class="col-md-6 yearbar"></div>
        </div>
        <div class="row">
            <div class="col-md-12 yearbar" id="map"><span id="title">City of Melbourne Migration</span></div>
        </div>
    </div>
    <script src="data.js"></script>
    <script src="countries.js"></script>
    <script src="main.js"></script>
</body>